ul
{
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}
a
{
float:left;
width:2.5em;
text-decoration:none;
color:white;
background-color:none;
padding:0.2em;
border-right:1px solid white;
}
a:hover {background-color:#cccccc;}
li {display:inline;}