div.toolbox
{
	top:0px;
	position:relative;
	height:70px;
	left: 900px;
	width:300px;
}
.heading {
margin: 1px;
color: #fff;
padding: 3px 10px;
cursor: pointer;
position: relative;
background-color:#c30;
}
.content {
padding: 5px 10px;
background-color:#fafafa;
}
p { padding: 5px 0; }
img.rndltr
{
}
